body {
    text-align: center;
    font-family: sans-serif;
    margin: 0;
}

.content-holder {
	position: absolute;
	width: 187.91666666666667%;
	left: -87.91666666666667%;
	background: #000;
}

.header {
	position: relative;
	height: 3em;
	background: #5580B5;
	color: #ffffff;
	font-size: 1em;
}

.header-left {
	position: absolute;
	left: 1em;
	top: 1em;
}

.header-right {
	position: absolute;
	right: 1em;
	top: 1em;
}

.menu-button {
	cursor: pointer;
}

.screens {
	/*Something bad happens here*/
	width: 53.21507760532151%;
	margin-left: 46.78492239467849%;
	background: #fff;
}

.menu {
	float: left;
	width: 46.78492239467849%;
	color: #fff;
}
.photo {
    width: 300px;
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;
    border: 1px solid #cdc;
}

.opinion-input {
    width: 100%;
    margin: 5px;
}

.button {
    display: inline;
    padding: 3px 5px;
    border: 1px solid #000;
    margin: 5px;
    cursor: pointer;
}