/* DESIGN VARIABLES */

$outline : #dadada;

/* MIXINS */

//Rounded (mostly images)
@mixin rounded {
	border-radius: 9999px;
	overflow: hidden;
}

@mixin bordered($type) {
	@if $type == bottom or $type == top or $type == left or $type == right {
		border-#{$type}: 1px solid $outline;
	} @else {
		border: 1px solide $outline;
	} 
}

@mixin title($color) {
	display: block;
	border-bottom: 1px solid $outline;
	padding: 0.4em;
	color: $color;
}

/* Common */

body {
	position: absolute;
	bottom: 0;
	top: 0;
	width: 100%;
}

body, h1, h2 {
    text-align: center;
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
}

/*LIQUID AS SNAKE*/
img {
	max-width: 100%;
}

ul {
	margin: 0;
	padding: 0;
}

p {
	margin: 1em 0;
}

.content-holder {
	position: absolute;
	width: 187.91666666666667%;
	left: -87.91666666666667%;
	height: 100%;
}
.screens {
	position: relative;
	overflow: hidden;
	height: 100%;
	/*Something bad happens here*/
	width: 53.21507760532151%;
	margin-left: 46.78492239467849%;
	background: #fff;
}

.screen {

	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background: white;
}

.menu {
	float: left;
	width: 46.78492239467849%;
	color: #fff;
	background: #000;
	height: 100%;
}

.separator {
	display: block;
	background: #dadada;
	height: 1px;
}

.clearfix {
	display: block;
	content: '.';
	visibility: hidden;
	clear: both;
}

/* Header */

.header {
	position: relative;
	height: 6%;
	background: #5580B5;
	color: #ffffff;
	font-size: 1em;
}

.header-left {
	position: absolute;
	left: 1em;
	top: 1em;
}

.header-right {
	position: absolute;
	right: 1em;
	top: 1em;
}

.menu-button {
	cursor: pointer;
}

/* Queue screen */

.question {
	height: 15.328125%;

	span {
		font-size: 2em;
		vertical-align: middle;
	}
}

.username {
	height: 12.5%;
	
	span {
		font-size: 1.3em;
		vertical-align: middle;
	}
}

.photo {
	//@include bordered(top);
	//@include bordered(bottom);
    width: 100%;
    height: 56.25%;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
}

.opinion-input {
    width: 100%;
    margin: 5px;
}


.align-helper {
	display: inline-block;
	height: 100%;
	width: 0px;
	vertical-align: middle;
}

#button-submit {
	position: absolute;
	height: 7.8125%;
	width: 100%;
	cursor: pointer;
	font-size: 1.3em;
	color: white;
	background: #5580B5;
	bottom: 0;

	span {
		vertical-align: middle;
	}
}
/*
.button {
    display: inline;
    padding: 3px 5px;
    border: 1px solid #000;
    margin: 5px;
    cursor: pointer;
}
*/
/* Menu */

.menu ul {
	text-align: left;
	font-size: 1.5em;
	padding: 0;
}

.menu li {
	padding: 0 1em;
	line-height: 2em;
	height: 2em;
	cursor: pointer;
}

.menu li:hover, .menu li.active {
	color: #000;
	background-color: #fff;
}


.profile-info {
	margin: 1em;
}


.profile-pic {
	display: inline-block;
	vertical-align: middle;
	width: 30.01579778830964%;
	overflow: hidden;
}
.profile-pic img {
	@include rounded;
}

.profile-name {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	cursor: pointer;
}

.profile-name span {
	font-size: 0.9em;
}

/* Profile screen */

#profile {

	.user-info {
		padding: 1em;
	}

	.user-info h2 {
		margin-top: 1em;
	}

	.user-pic {
		margin: 0 auto;
		width: 27.77777777777778%;
	}

	.user-pic img {
		max-width: 100%;
	}

	.user-question {
		padding: 0.5em;
	}

	.user-opinions-info {
		padding: 0.5em;
	}

	.user-opinions-count {
		float: left;
	}

	.user-opinions-character {
		float: right;
	}

	.user-opinions-character div {
		display: inline-block;
	}

	.positive-opinions strong {
		color: #00ff00;
	}

	.negative-opinions strong {
		color: #ff0000;
	}

	.opinion-question {
		text-align: left;
		padding: 0 0.5em;

	}

	.opinion-question span {
		@include title(#9f9f9f);
	}

	.opinion {
		@include bordered(top);
		position: relative;
		padding: 0 0.5em 0.5em 0;
	}

	.opinion p {
		text-align: justify;
		text-indent: 1em;
	}

	.opinion-character {
		position: absolute;
		right: 0.5em;
		bottom: 0.5em;
		font-weight: bold;
		color: #00ff00;
	}

}

/* Friend list screen */

.friends-search-bar-container1 {
	background: #e7ebf0;
	padding: 0.25em 0.5em;
}

.friends-search-bar-container2 {
	@include bordered(all);
	background: #ffffff;
	padding: 0.1em;
}

.searchbar-icon {
	display: inline-block;
	width: 5%;
	vertical-align: middle;
	padding: 0.1em;
}

.searchbar-icon img {
	max-width: 100%;
}

#friends-search-bar {
	vertical-align: middle;
	border: none;
	width: 93%;
	font-size: 1.318em;
	font-weight: 300;
}

.friends-list {
	padding: 0.25em 0.5em;
}

.friends-list li {
	@include bordered(bottom);
	padding:  0.25em 0;
	cursor: pointer;
}

.friend-photo {
	float: left;
	width: 15.27777777777778%;
	overflow: hidden;
}

.friend-photo img {
	@include rounded;
}

.friend-name {
	float: left;
	font-size: 1.5em;
	padding: 0.75em;
}

/* My opinions screen */

.my-opinions-count p {
	font-size: 1.2em;
	color: #c5c5c5;
}

.my-opinions-count strong {
	color: #000;
}

.my-opinions-list li {
	@include bordered(bottom);
	display: block;
	padding: 1em;
}

.my-opinion-left {
	float: left;
	width: 18.86111111111111%;
	padding-right: 1em;
}

.my-opinion-userpic {
	display: inline-block;
	width: 100%;
}

.my-opinion-userpic {
	@include rounded;
}

.my-opinion-unlocked {
	font-size: 0.7em;
}

.my-opinion-question {
	display: block;
	font-weight: bold;
}

.my-opinion-main p {
	font-size: 1em;
	margin: 1em 0.3em;
	text-align: justify;
}

/* Opinions about me screen */

#opinions_about_me {

	.opinions-new-title {
		@include title(#ff0000);
	}

	.opinion-info {
		vertical-align: middle;
		display: inline-block;

		width: 20.83333333333333%;

		img {
			width: 100%;
			height: 100px;
			background: #00ff00;
		}
	}


	.locked-opinions {
		.locked-opinions-list {
			li {
				@include bordered(bottom);
				padding: 0.25em;
			}

			span {
				display: inline-block;
				vertical-align: middle;
				width: 58.33333333333333%;
			}

			.opinion-lock {
				vertical-align: middle;
				display: inline-block;

				width: 20.83333333333333%;

				img {
					width: 100%;
					height: 100px;
					background: #cacaca;
				}
			}
		}   
    }

	.opinion-question {
		@include title(#9f9f9f);
	}

	.unlocked-opinions-list {
		 li {
			@include bordered(bottom);
			padding: 0.25em;
			.opinion-body {
				display: inline-block;
				max-width: 78.16666666666667%;
				
				vertical-align: middle;
				p {
					text-align: justify;
					text-indent: 1em;	
				}

				span {
					display: block;
					font-weight: bold;
				}
			}
		}
	}
}